body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #171717;
    background: url(/img/bg.png);
    color: #fff;
}
body div, body html-include {
    max-width: 800px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
body .content {
    background-color: #171717;
}
.content div {
    max-width: 790px;
    margin: 0, auto, 0, auto;
}
.content div p {
    text-indent: 10px;
}
a:not(.footer_banners a, header p a, .links_page table tr td a, .abtn) {
    color: #4876d2;
    text-decoration: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}
a:hover {
    color: #3b60a9;
}

.abtn {
    display: inline-block;
    background: #404040;
    color: #fff;
    padding: 0.3rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    border-bottom: none;
}
.abtn:hover {
    background: #363636;
    border-bottom: none;
    color: #fff;
}
.abtn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #565b67;
    border-bottom: none;
    color: #fff;
}
img {
    border-radius: 3px;
    max-width: 100%;
}

header .links a {
    display: inline-block;
    background: #404040;
    color: #fff;
    padding: 0.3rem 1rem;
    text-decoration: none;
    border-radius: 3px;
}
header .links a:hover {
    background: #363636;
}

header .links a:focus {
    outline: none;
    box-shadow: 0 0 0 4px #565b67;
}
header {
    padding: 0.5rem;
    background-color: #252525;
    border-bottom: 2px solid #006e12;
}

footer {
    padding: 0.5rem;
    background-color: #252525;
    border-top: 2px solid #006e12;
}